[user]
	name = Alex Griffin
	email = a@ajgrf.com
[alias]
	st = status --short --branch
	co = checkout
	com = commit
	ci = commit
	br = branch
	ls = ls-files
[color]
	ui = false
[log]
	decorate = short
[push]
	default = simple
