[user]
	name = Alex Griffin
	email = a@ajgrf.com
[alias]
	br = branch
	ci = commit --verbose
	co = checkout
	com = commit --verbose
	log1 = log --oneline
	ls = ls-files
	st = status --short --branch
	unmerged = log --oneline ^@{upstream} @
	unpulled = log --oneline ^@ @{upstream}
[color]
	ui = false
[log]
	decorate = short
[push]
	default = simple
