! ~/.Xresources

!! terminal color scheme
*background:             #161616
*foreground:             #c5c5c5

! black
*color0:                 #161616
*color8:                 #4a4a4a
! red
*color1:                 #a65353
*color9:                 #cc6666
! green
*color2:                 #909653
*color10:                #b5bd68
! yellow
*color3:                 #bd9c5a
*color11:                #f0c674
! blue
*color4:                 #5f788c
*color12:                #81a2be
! magenta
*color5:                 #816b87
*color13:                #b294bb
! cyan
*color6:                 #668c88
*color14:                #8abeb7
! white
*color7:                 #c5c5c5
*color15:                #f7f7f7

!! URxvt settings
URxvt*font:              -*-terminus-medium-r-*-*-16-*-*-*-*-*-*-*,\
                         xft:WenQuanYi Zen Hei Mono
URxvt*iconFile:          /usr/share/icons/elementary/apps/32/terminal.svg
URxvt*iconName:          Terminal
URxvt*inputMethod:       ibus
URxvt*matcher.button:    1
URxvt*perl-ext:          matcher
URxvt*saveLines:         10000
URxvt*scrollBar:         false
URxvt*scrollTtyKeypress: true
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyOutput:   false
URxvt*termname:          rxvt-unicode
URxvt*title:             Terminal
URxvt*urlLauncher:       firefox
URxvt*urgentOnBell:      true

!! XTerm settings
xterm*dynamicColors:     true
xterm*eightBitInput:     false
xterm*faceName:          terminus:pixelsize=14
xterm*faceNameDoublesize:WenQuanYi Zen Hei Mono:pixelsize=14
xterm*iconName:          Terminal
xterm*saveLines:         10000
xterm*scrollKey:         true
xterm*scrollTtyOutput:   false
