[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Shepherd
GenericName=Service Manager
Comment=The GNU Daemon Shepherd
Exec=shepherd
StartupNotify=false
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
