# Case-insensitive tab completion
set completion-ignore-case on

# Allow re-binding special terminal control characters (like C-w)
set bind-tty-special-chars off

# Redefine delete word behavior to stop at filename slashes
"\C-w": unix-filename-rubout

# Up/Down arrows search the history for whatever you've typed so far
"\e[A": history-search-backward
"\e[B": history-search-forward

# Alt-Enter pipes the current command through less
$if bash
	"\C-\M-j": "\C-e |less\n"
	"\C-\M-m": "\C-e |less\n"

	" ": magic-space
$endif
