scroll-offset = 1
set-xterm-title = yes
xterm-title-format = "[[%artist% - ]%title%]|%file%"

enable-colors = yes
color background = none
color title = none
color title-bold = none,bold
color line = none
color line-flags = magenta
color list = black
color list-bold = blue,bold
color browser-directory = black
color browser-playlist = black
color progressbar = black
color status-song = blue,bold
color status-state = none,bold
color status-time = black
color alert = red
